In [1]:
import numpy as np
import pandas as pd

In [8]:
myindex = ['USA','Canada','Mexico']

In [9]:
mydata = [1776,1867,1881]

In [11]:
myser = pd.Series(data=mydata,index=myindex)
myser

USA       1776
Canada    1867
Mexico    1881
dtype: int64

myser['USA']

In [12]:
myser['USA']

1776

In [13]:
ages = {'Sam': 5, "Frank": 10,"Spike":7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [14]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [15]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [16]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [17]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [18]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [19]:
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64